GARMIN_EMAIL=
GARMIN_PASSWORD=
GARMINTOKENS=.garminconnect
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=garmin
POSTGRES_USER=garmin
POSTGRES_PASSWORD=
BACKFILL_START=2026-03-08
MAX_DAYS_PER_RUN=50
THROTTLE_SECONDS=1
